/.quarto/
**/*.quarto_ipynb
.Rproj.user

# R
.Rhistory
.RData
.Rproj.user
.Ruserdata
.Rproj*
.Renv
.Rprofile



# System files
.DS_Store
Thumbs.db

# Large files
# Shapefiles and geographic data
data/*.shp
data/*.shx
data/*.dbf
data/*.prj
data/*.cpg
data/*.xml
data/*.sbn
data/*.sbx

# Large raw data folders


# Keep processed data (explicitly allow)
!data/processed/
!data/processed/*.rds


# Python / Jupyter (if used in Quarto)
__pycache__/
.ipynb_checkpoints/

# Quarto cache and render artefacts
#*_files/
.cache/
.qmd-cache/

# Project-specific archive directory
_archive/
/.quarto/
/solutions/
/_freeze/
